%head    
  %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
  %title= "Michael Parenteau | #{@page_title}"
  = stylesheet_link_tag "/stylesheets/screen.css"
  /[if IE]
    = javascript_script_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"
    %style{:type => "text/css"}
      :plain
        .clear {
          zoom: 1;
          display: block;
          }