.container.home
  .sixteen.columns
    %h1 Michael Parenteau
    %h2 
      %span I make art, design user interfaces and write some code
    #mountains
      =image_tag("/images/mountains-and-clouds.png", :alt => "Mountains and clouds")
    %h3 my work often includes aliens surfboards and fish
  .clear
  
  .im-also-on
    .six.columns.twitter
      %a{:href => 'http://twitter.com/michaelparenteau',:target => '_blank'} twitter
      .tweet
        %p
          -if @tweet.nil?
            Twitter requests are timing out... sorry, this is not the tweet you are looking for.
          -else
            = @tweet
    .four.columns.ampersand
      =image_tag("/images/ampersand.png", :alt => "Ampersand (&)")
    .six.columns.dribbble
      %a{:href => 'http://dribbble.com/michaelparenteau', :target => '_blank'} dribbble
      .shot
        %a{:href => @shot.url, :target => '_blank'}
          = image_tag @shot.image_url
    .clear
    
  .sixteen.columns.surfer-and-fish-water
    =image_tag("/images/surfer-and-fish-water.png", :alt => "Cyclops alien on a surfboard chasing 3 flying fish")
